* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fcfcfc;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-container h1 img {
    width: 130px; /* Sesuaikan dengan ukuran yang diinginkan */
    height: auto; /* Menjaga proporsi gambar */
    display: block; /* Agar tidak ada ruang kosong di bawah gambar */
    margin: 0 auto; /* Agar logo berada di tengah */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 16px;
    color: #666;
}

form {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d9d9d9;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(41, 37, 37);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: black;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
}

a:hover {
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}

.error-message {
    color: red;
    padding: 15px;
    margin-bottom: -10px;
    text-align: center;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #888;
    font-size: 14px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
    margin-right: 10px;
}

.separator:not(:empty)::after {
    margin-left: 10px;
}
